/* Voucher styling for printing */
.voucher {
  display: none;
}

.input {
  display: flex;
  justify-content: center;
}

.select{
  margin:1% 0;
}

.input>Input{
  width: 30%;
  margin:1% 0;
}

#btn {
  margin: 0 1%;
  padding: 1% 2%;
}

.print-head>h1 {
  font-size: 3rem;
  margin-bottom: 5%;
  font-weight: 500;
  color: #C40C0C;
}

.print-head>p {
  font-size: 2rem;
  color: #C40C0C;
}

.heading>h1,
h3 {
  color: #C40C0C;
  font-weight: 100;
}

hr {
  color: #cc0c0c;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.details :nth-child(1) {
  align-self: flex-end;
}

.details>h1 {
  font-size: 1.35rem;
}

.amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
}

.amount-rupee {
  font-size: 1.45rem
}

.sign>h5 {
  margin-top: 40%;
  font-size: 0.75rem;
}

.amount>p {
  align-self: flex-end;
}

.puja-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom:1px solid #C40C0C ;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

b {
  color: #cc0c0c;
}

@media print {
  .counter {
    display: none;
  }

  body {
    border: 2px solid #C40C0C;
    padding: 5%;
  }

  .voucher {
    display: block;
  }
}